<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="output.css">
    <title>Airbnb Listings</title>
</head>
<body class="bg-gray-100 min-h-screen">

    <!-- Header -->
    <header class="bg-blue-600 text-white w-full py-6 text-center shadow-lg">
        <h1 class="text-4xl font-bold tracking-wide">Welcome to Airbnb</h1>
    </header>
    <nav class="bg-blue-600">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-center items-center h-16">
            <!-- Logo -->
            
    
            <!-- Desktop Links -->
            <div class="hidden md:flex  space-x-16">
              <a href="/" class="text-white hover:text-blue-200 transition">Home</a>
              <a href="/bookings" class="text-white hover:text-blue-200 transition">Bookings</a>
              <a href="/home-list" class="text-white hover:text-blue-200 transition">Home-list</a>
              <a href="/fav-list" class="text-white hover:text-blue-200 transition">Favourites</a>
              <a href="/host/host-home-list" class="text-white hover:text-blue-200 transition">Host-Homes</a>
            </div>
        </div>
    </div>
    </nav>
    <div class="text-center">
        <h1 class="text-9xl font-bold text-blue-600 mb-4">My Bookings</h1>
        <h2 class="text-3xl font-semibold text-gray-800 mb-4">Bookings will appear here</h2>
        
    </div>

   

    <!-- Listings Section -->
   
</body>
</html>
